In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

pd.pandas.set_option('display.max_columns',None)

In [2]:
df=pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.isnull().any()

date           False
Appliances     False
lights         False
T1             False
RH_1           False
T2             False
RH_2           False
T3             False
RH_3           False
T4             False
RH_4           False
T5             False
RH_5           False
T6             False
RH_6           False
T7             False
RH_7           False
T8             False
RH_8           False
T9             False
RH_9           False
T_out          False
Press_mm_hg    False
RH_out         False
Windspeed      False
Visibility     False
Tdewpoint      False
rv1            False
rv2            False
dtype: bool

Question 12


From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [8]:
from sklearn.model_selection import train_test_split
x=df[['T2']]
y=df['T6']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

linear_model.fit(x_train,y_train)
pred=linear_model.predict(x_test)

In [10]:
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,pred)

In [11]:
round(r2_score,2)

0.64

Question 13


Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df = df.drop(['date', 'lights'], axis=1)
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [16]:
# Split features_df and target into a training and testing set.
x_train1, x_test1, y_train1, y_test1 = train_test_split(features_df, target, test_size=0.3, random_state=42)

In [17]:
linear_model1 = LinearRegression()


linear_model1.fit(x_train1, y_train1)


predicted_values = linear_model1.predict(x_test1)
predicted_values

array([0.03319646, 0.24412988, 0.03410198, ..., 0.06836907, 0.10029337,
       0.05730947])

In [18]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test1, predicted_values)
round(mae, 2)

0.05

Question 14


What is the Residual Sum of Squares (in two decimal places)?

In [21]:
rss=np.sum(np.square(y_test1-predicted_values))
round(rss,2)

45.34

Question 15

What is the Root Mean Squared Error (in three decimal places)?

In [24]:
from sklearn.metrics import mean_squared_error
rms=np.sqrt(mean_squared_error(y_test1, predicted_values))
round(rms,3)

0.088

Question 16


What is the Coefficient of Determination (in two decimal places)?

In [25]:
# Coefficient of Determination or R-Squared.
from sklearn.metrics import r2_score
r2_score = r2_score(y_test1, predicted_values)
round(r2_score, 2)

0.15

Question 17

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [26]:
def get_weights_df(model, feat, col_name):
    """ This function returns the weight of every feature """
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [27]:
linear_model_weights = get_weights_df(linear_model1, x_train1, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0           rv1        -3.022856e+11
1          RH_2        -4.570534e-01
2         T_out        -3.215351e-01
3            T2        -2.364235e-01
4            T9        -1.899183e-01
5          RH_8        -1.577103e-01
6        RH_out        -7.744421e-02
7          RH_7        -4.455125e-02
8          RH_9        -3.979664e-02
9            T5        -1.563806e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.872416e-03
12           T7         1.025499e-02
13   Visibility         1.229356e-02
14         RH_5         1.600121e-02
15         RH_4         2.645739e-02
16           T4         2.903146e-02
17    Windspeed         2.923390e-02
18         RH_6         3.805967e-02
19         RH_3         9.605743e-02
20           T8         1.020059e-01
21    Tdewpoint         1.175979e-01
22           T6         2.363949e-01
23           T3         2.907772e-01
24         RH_1         5.537035e-01
25          rv2         3.022856e+11

In [28]:
# Lowest weight in linear model.
linear_model_weights['Linear_Model_Weight'].min()

-302285590231.6993

In [29]:
# highest weight in linear model.
linear_model_weights['Linear_Model_Weight'].max()

302285590231.70056

Question 18

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [31]:
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=0.4)

ridge.fit(x_train1, y_train1)
predicted_values1=ridge.predict(x_test1)

In [34]:
rmse=np.sqrt(mean_squared_error(y_test1,predicted_values1))
round(rmse,3)

0.088

Question 19


Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [35]:
from sklearn.linear_model import Lasso
lasso_reg=Lasso(alpha=0.001)

lasso_reg.fit(x_train1,y_train1)

Lasso(alpha=0.001)

In [36]:
lasso_model_weight=get_weights_df(lasso_reg,x_train1, 'Lasso_weight')

In [37]:
lasso_model_weight

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [41]:
(lasso_model_weight['Lasso_weight']!=0).value_counts()

False    22
True      4
Name: Lasso_weight, dtype: int64

Question 20


What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [43]:
predicted_values2=lasso_reg.predict(x_test1)
rmse=np.sqrt(mean_squared_error(y_test1,predicted_values2))

round(rmse,3)

0.094