<a href="https://colab.research.google.com/github/Adelakun1999/data/blob/master/xg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [1]:
import pandas as pd

In [ ]:
import imblearn

In [2]:
df=pd.read_csv('/content/Data_for_UCI_named.csv')

In [3]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
df.shape

(10000, 14)

In [5]:
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [6]:
df=df.drop('stab',axis=1)

In [7]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stabf   10000 non-null  object
dtypes: float64(12), object(1)
memory usage: 1015.8+ KB

In [9]:
df1=df[df['stabf']=='unstable'].sample(3800)

In [10]:
df2=df[df['stabf']=='stable']

In [11]:
data=df1.append(df2)

In [12]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
1504,9.498760,3.554704,9.250553,2.401916,3.894121,-1.152784,-1.863343,-0.877994,0.083158,0.486825,0.887797,0.543436,unstable
6108,8.623813,1.343157,2.499161,6.843736,3.653330,-1.275081,-0.615895,-1.762354,0.695087,0.102271,0.395089,0.818940,unstable
7574,2.732447,4.521814,4.646961,9.669430,3.467830,-1.005629,-1.338918,-1.123283,0.532048,0.586266,0.680068,0.338050,unstable
173,7.745785,0.660418,5.039863,5.455107,3.590753,-1.768924,-0.699088,-1.122740,0.611634,0.838269,0.833766,0.431155,unstable
2084,6.952976,2.649941,4.812638,6.038505,4.382074,-1.718232,-1.045223,-1.618619,0.891955,0.974288,0.765072,0.270666,unstable

In [13]:
import sklearn.utils

In [14]:
data=sklearn.utils.shuffle(data)

In [15]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
5222,1.122350,1.601057,5.726712,9.572066,3.453371,-1.056836,-1.522739,-0.873795,0.138390,0.578136,0.998057,0.740222,unstable
3128,9.486358,9.333236,7.776747,2.079008,3.196546,-0.566656,-1.679727,-0.950162,0.620980,0.558375,0.065427,0.259720,unstable
27,0.727077,6.425554,6.269094,0.786911,2.913179,-1.187866,-0.687735,-1.037578,0.471442,0.061329,0.221905,0.647617,stable
921,6.491263,4.414899,9.217811,2.922751,3.989875,-1.369081,-1.103975,-1.516819,0.405160,0.879106,0.741924,0.056251,unstable
1695,5.392202,4.133212,7.003986,1.284924,3.262496,-0.798468,-1.653456,-0.810572,0.461383,0.622871,0.751415,0.228358,unstable

In [16]:
data=data.reset_index(drop=True)

In [17]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,1.122350,1.601057,5.726712,9.572066,3.453371,-1.056836,-1.522739,-0.873795,0.138390,0.578136,0.998057,0.740222,unstable
1,9.486358,9.333236,7.776747,2.079008,3.196546,-0.566656,-1.679727,-0.950162,0.620980,0.558375,0.065427,0.259720,unstable
2,0.727077,6.425554,6.269094,0.786911,2.913179,-1.187866,-0.687735,-1.037578,0.471442,0.061329,0.221905,0.647617,stable
3,6.491263,4.414899,9.217811,2.922751,3.989875,-1.369081,-1.103975,-1.516819,0.405160,0.879106,0.741924,0.056251,unstable
4,5.392202,4.133212,7.003986,1.284924,3.262496,-0.798468,-1.653456,-0.810572,0.461383,0.622871,0.751415,0.228358,unstable

In [18]:
X=data.drop('stabf',axis=1)
y=data['stabf']

In [19]:
y

0       unstable
1       unstable
2         stable
3       unstable
4       unstable
          ...
7415    unstable
7416      stable
7417    unstable
7418    unstable
7419    unstable
Name: stabf, Length: 7420, dtype: object

In [20]:
y.value_counts()

unstable    3800
stable      3620
Name: stabf, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=1)

In [23]:
y_train.value_counts()

unstable    3058
stable      2878
Name: stabf, dtype: int64

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler=StandardScaler()

In [26]:
X_train=scaler.fit_transform(X_train)

In [27]:
X_test=scaler.transform(X_test)

In [28]:
import imblearn

In [29]:
from imblearn.over_sampling import SMOTE

In [30]:
smote=SMOTE(random_state=1)

In [31]:
X_train_balance,y_balance=smote.fit_resample(X_train, y_train)

In [32]:
y_balance.value_counts()

stable      3058
unstable    3058
Name: stabf, dtype: int64

In [33]:
X_train_balance

array([[ 1.12705501, -1.14420356,  0.46703641, ...,  0.35206117,
        -1.29657536,  1.5382442 ],
       [-1.28351189, -0.67904969,  1.21267153, ...,  0.80553664,
        -0.1254499 , -1.64941033],
       [-0.60903461, -0.47588218,  0.94617994, ..., -0.42782338,
         0.06887654, -0.86671085],
       ...,
       [ 1.3783976 , -0.80983067, -0.61020093, ...,  0.67813137,
        -0.66190718, -1.07269412],
       [ 1.60687168, -1.53568769, -0.77600103, ...,  0.76174585,
        -0.34664026,  0.13941499],
       [-1.27865378, -1.38755454, -1.06665419, ..., -0.22319014,
        -1.50080594, -0.08785864]])

In [34]:
from sklearn.ensemble import ExtraTreesClassifier

In [35]:
cf=ExtraTreesClassifier()

In [36]:
cf.fit(X_train_balance,y_balance)

ExtraTreesClassifier()

In [37]:
cf.feature_importances_

array([0.11534798, 0.11766688, 0.11310535, 0.11765664, 0.03932814,
       0.04204788, 0.04086247, 0.04098366, 0.08799666, 0.09337177,
       0.09730047, 0.0943321 ])

In [38]:
from xgboost import XGBClassifier

In [39]:
xg=XGBClassifier()

In [40]:
xg.fit(X_train_balance,y_balance)

XGBClassifier()

In [41]:
pred=xg.predict(X_test)

In [42]:
pred

array(['stable', 'stable', 'stable', ..., 'stable', 'stable', 'unstable'],
      dtype=object)

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(y_test,pred)

0.9137466307277629

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
rf=RandomForestClassifier()

In [48]:
rf.fit(X_train_balance,y_balance)

RandomForestClassifier()

In [49]:
accuracy_score(y_test, rf.predict(X_test))

0.9144204851752021